{% extends 'base.html' %}

{% block body_part %}
<section id="carouselSection" style="text-align:center">
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
			<div  style="text-align:center"  class="item active">
				<div class="wrapper"><img src="/static/themes/images/carousel/business_website_templates_1.jpg" alt="business webebsite template">
				<div class="carousel-caption">
                    <h2>Bharat Sevak Samaj</h2>
                 	<p>Bharat Sevak Samaj (BSS) is the National Development Agency promoted by the Planning Commission, Government of India to ensure public Co-operation for implementing government plans. </p>
				  	<a href="http://bharatsevaksamaj.org/" target="__blank" class="btn btn-large btn-success">Know More..</a>
                </div>
				</div>
			</div>
			<div style="text-align:center" class="item">
				<div class="wrapper"><img src="/static/themes/images/carousel/business_website_templates_2.jpg" alt="business themes">
				<div class="carousel-caption">
                    <h2>BSS Cultural Mission</h2>
                    <p>BSS Cultural Mission is a division of Bharat Sevak Samaj to provide total solutions in the arena of Arts and Culture and to promote high end Arts and Cultural education and training all over India. BSS Cultutal Mission imparting training in various courses like Dance, Music and various musical instruments through different Institutions.</p>
				    <a href="" class="btn btn-large btn-success">Read more</a>
                </div>
				</div>
			</div>
			<div  style="text-align:center"  class="item">
				<div class="wrapper"><img src="/static/themes/images/carousel/h2.JPG" alt="business themes">
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</section>
<!-- Sectionone ends ======================================== -->
<section id="middleSection">
<div class="container">
		<div class="row" style="text-align:center">
			<div class="span12">
			<div class="well well-small">
				<h2 class="text-danger">Bharat Sevak Samaj Cultural Mission</h2>
				<p>We admit students irrespective of their age and help them to gain certification of Bharat Sevak Samaj. One can pursue music along with school studies. We follow our own syllabus which offers basic to advance level Music study. Classes are organised in a highly conducive learning environment that helps students of any age to shed all their inhibitions and encourage them to hone their skills in music. Our syllabus opens up various aspects of the music from the very beginning of a students study and helps him to build a professionally viable career. Another advantage of the syllabus is that it helps to reap the benefits of Gurukulavidyabhysa from a class room level teaching.</p>
			</div>
			</div>
			<div class="span2">
				<div class="well well-small">
					<h4>
					<!-- <a href="#" class="popOver" data-placement="top" data-content=" > Website Design<br> > PSD To XHTML conversion<br> > Graphic Design (Coverpage, Logo, Brocer etc.)" data-original-title="Your Website represents You..." style="display:block; text-decoration:none"> -->
					<a href="#" class="popOver" data-placement="top" data-content="">
					<img src="/static/assets/images/mohiniyattam.jpg">
					</a>
					</h4>
					<a href=""><small>view details</small></a>
				</div>
			</div>
			<div class="span2">
				<div class="well well-small">
					<h4>
					<!--
					<a href="#" class="popOver" data-placement="top" data-content=" > Drupal, Joomla and Wordpress Solution<br>> Dating Site Customization<br>> And many more.." data-original-title="Opensources web solution..." style="display:block; text-decoration:none"> -->
					<a href="#" class="popOver" data-placement="top" data-content="">
					<img src="/static/assets/images/instruments2.jpg">
					</a>
					</h4>
					<a href=""><small>view details</small></a>
				</div>
			</div>
			<div class="span2">
				<div class="well well-small">
					<h4>
					<a href="#" class="popOver" data-placement="top" data-content="">	
					<!--<img src="assets/images/ms-subbulakshmi.jpg">-->
					<img src="/static/assets/images/PERCUSSION.jpg">
					</a>
					</h4>
					<a href=""><small>view details</small></a>
				</div>
			</div>			
			<div class="span2">
				<div class="well well-small">
					<h4>
					<a href="#" class="popOver" data-placement="top" data-content="">
					<img src="/static/assets/images/instruments.jpg">
					</a>
					</h4>
					<a href=""><small>view details</small></a>
				</div>
			</div>
			<div class="span2">
				<div class="well well-small">
					<h4>
					<a href="#" class="popOver" data-placement="top" data-content="">
					<img src="/static/assets/images/music.jpg">
					</a>
					</h4>
					<a href=""><small>view details</small></a>
				</div>
			</div>			
			<div class="span2">
				<div class="well well-small">
					<h4>
					<a href="#" class="popOver" data-placement="top" data-content="">
					<img src="/static/assets/images/kathakali1.jpg">
					</a>
					</h4>
					<a href=""><small>view details</small></a>
				</div>
			</div>	
		</div>
		</div>
</section>
<!--
<section id="bodySection">
<div class="container">
<div class="row">
	<h3 class="span12" style="text-align:center">Our Recent Work <small>view all projects (200+)</small></h3>
	<div class="span4">
		<div class="thumbnail">
			<h4>Mobile Apps</h4>
			<a href="portfolio.html"><img src="themes/images/1.jpg" alt="bootstrap business templates"></a>
			<p>
			<br/>
			We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets.
			We recently introduce cheapest and best mobile web design packages in our services. <br/>
			</p>
			<div class="btn-toolbar">
			  <div class="btn-group toolTipgroup">
				<a class="btn" href="#" data-placement="right" data-original-title="send email"><i class="icon-envelope"></i></a>
				<a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
				<a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
				<a class="btn" href="#" data-placement="top" data-original-title="share"><i class="icon-link"></i></a>
				<a class="btn" href="portfolio.html" data-placement="left" data-original-title="browse"><i class="icon-globe"></i></a>
			  </div>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="thumbnail">
			<h4>Application Development</h4>
			<a href="portfolio.html"><img src="themes/images/2.jpg" alt="bootstrap business templates"></a>
			<p>
			<br/>
			We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets.
			We recently introduce cheapest and best mobile web design packages in our services.<br/>
			 </p>
			<div class="btn-toolbar">
			  <div class="btn-group toolTipgroup">
				<a class="btn" href="#" data-placement="right" data-original-title="send email"><i class="icon-envelope"></i></a>
				<a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
				<a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
				<a class="btn" href="#" data-placement="top" data-original-title="share"><i class="icon-link"></i></a>
				<a class="btn" href="portfolio.html" data-placement="left" data-original-title="browse"><i class="icon-globe"></i></a>
			  </div>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="thumbnail">
			<h4>My web solutions</h4>
			<a href="portfolio.html"><img src="themes/images/3.jpg" alt="bootstrap business templates"></a>
			<p>
			<br/>
			We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets.
			We recently introduce cheapest and best mobile web design packages in our services. <br/>
			 </p>
			<div class="btn-toolbar">
			  <div class="btn-group toolTipgroup">
				<a class="btn" href="#" data-placement="right" data-original-title="send email"><i class="icon-envelope"></i></a>
				<a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
				<a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
				<a class="btn" href="#" data-placement="top" data-original-title="share"><i class="icon-link"></i></a>
				<a class="btn" href="portfolio.html" data-placement="left" data-original-title="browse"><i class="icon-globe"></i></a>
			  </div>
			</div>
		</div>
	</div>
</div>
<br/>
</div>
</section>
-->
<section id="clientsSection" style="text-align:center; padding:48px 0">
<div class="container">
	<a href="#" target="_blank"><img src="/static/assets/images/facebook.jpg" alt="View on Facebook"></a>
	<a href="#" target="_blank"><img src="/static/assets/images/googleplus.png" alt="View on Google Plus"></a>
</div>
</section>
{% endblock %}